@use "sass:map";

.text {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

$text-weights: (
  "extra-light": "DM Sans ExtraLight",
  "thin": "DM Sans Thin",
  "regular": "DM Sans Regular",
  "bold": "DM Sans Bold",
  "semi-bold": "DM Sans SemiBold"
);

$text-sizes: (
  "small": 0.8,
  "medium": 1,
  "large": 1.4,
  "extra-large": 2
);

$text-colors: (
  "accent": var(--accent),
  "primary": var(--text-primary),
  "secondary": var(--text-primary)
);

@each $name, $weight in $text-weights {
  .weight-#{$name} {
    font-family: $weight;
  }
}

@each $name, $size in $text-sizes {
  .size-#{$name} {
    font-size: #{$size}rem;
  }
}

@each $name, $color in $text-colors {
  .color-#{$name} {
    color: $color;
  }
}
