.p-tooltip {
  transition: 300ms ease-in-out opacity;
  opacity: 0;

  &.p-tooltip-active {
    opacity: 1;
  }

  .p-tooltip-text {
    background: $tooltipBg;
    color: $tooltipTextColor;
    padding: $tooltipPadding;
    box-shadow: $inputOverlayShadow;
    border-radius: $borderRadius;
  }

  &.p-tooltip-right {
    transform: translateX($tooltipOffset);

    .p-tooltip-arrow {
      border-right-color: $tooltipBg;
    }
  }

  &.p-tooltip-left {
    transform: translateX(-$tooltipOffset);

    .p-tooltip-arrow {
      border-left-color: $tooltipBg;
    }
  }

  &.p-tooltip-top {
    transform: translateY(-$tooltipOffset);

    .p-tooltip-arrow {
      border-top-color: $tooltipBg;
    }
  }

  &.p-tooltip-bottom {
    transform: translateY($tooltipOffset);

    .p-tooltip-arrow {
      border-bottom-color: $tooltipBg;
    }
  }

  .p-tooltip-arrow {
    display: none;
  }
}
