.icon-button {
  transition: 200ms ease background;
  display: flex;
  justify-content: center;
  color: var(--gray-300);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  padding: 0.2rem;

  &:hover {
    background: rgba(255 255 255 / 0.1);
  }
}
